global:
  resolve_timeout: 5m
  smtp_smarthost: 'smtp.gmail.com:587'
  smtp_from: '__SMTP_USERNAME__'
  smtp_auth_username: '__SMTP_USERNAME__'
  smtp_auth_password_file: '/tmp/alertmanager-smtp-password'
  smtp_require_tls: true

route:
  receiver: email-notifications
  group_by: ['alertname', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 4h

receivers:
  - name: email-notifications
    email_configs:
      - to: '__ALERT_EMAIL_TO__'
        send_resolved: true
